:root {
    --primary-color: #E5E1E6;
    --secundary-color: #CCFFFF;
    --tertiary-color: #66ff66;
    --text-color: #000000;
}


/* BOX-SIZING para calcular directamente todas las dimensiones de las cajas */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FEFCC7;
}


/* RESETEO LIMITADO DE PROPIEDADES */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}


/* Estilo para las fuentes en toda la página */

body {
    color: #FF6699;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #FF6699;
    background-color: #009999;
}


/* Establecemos el centrado y las dimensiones de los elementos principales */

nav,
.container,
footer {
    max-width: 1200px;
    min-width: 576px;
    margin: 0px auto;
}

.contacto,
.motos,
.rutas,
.rutasMoto,
.cerrar {
    /*Contendeor wrap*/
    align-items: center;
    align-content: center;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: #0000;
}


/* Estilos para el menú principal */

nav {
    background-color: #009999;
    color: #FF6699;
    font-size: 1.4;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    overflow-y: auto;
    top: 0px;
    z-index: 100;
}

nav div {
    float: left;
    margin-left: 20px;
    padding: 5px;
    background-color: #009999;
}

nav section {
    float: right;
    margin-right: 20px;
    padding: 5px;
}


/* Estilos para la cabecera */

header {
    position: relative;
    text-align: center;
}


/* Fondo de la cabecera */

header img {
    opacity: 0.7;
    width: 100%;
}


/* Formato del elemento principal  */

main {
    margin: 0px auto;
    width: 80%;
}

main h1 {
    text-align: center;
}

main h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}


/* Línea de separacion en los títulos */

main h2::before {
    background-color: #FEFCC7;
    display: block;
    content: " ";
    height: 2px;
    width: 30%;
    margin: 0px auto;
    margin-top: 30px;
}


/* Estilos para la zona de las cards y organización de la web */

.cards {
    overflow-y: auto;
}

.cards .card {
    float: left;
    padding: 20px;
    text-align: center;
    width: 33%;
}

.cards .card img {
    width: 50%;
}


/* Sección con la botella y los tres párrafos descriptivos */

.bottle {
    margin: 30px auto;
    overflow-y: auto;
    width: 100%;
}

.bottle img {
    float: left;
    margin-left: 10%;
    width: 20%;
}

.bottle div {
    float: left;
    margin-top: 20px;
    text-align: justify;
    width: 50%;
}


/* Sección con la descipción de la moto y los tres párrafos */

.descripcionMoto {
    margin: 30px auto;
    overflow-y: auto;
    width: 100%;
}

.descripcionMoto img {
    float: right;
    margin-left: 10%;
    width: 20%;
}

.descripcionMoto div {
    float: right;
    margin-top: 20px;
    text-align: justify;
    width: 50%;
}


/* Estilos para la galería de imágenes */

.gallery {
    clear: both;
    margin: 20px auto;
    overflow-y: auto;
    width: 70%;
}

.gallery img {
    float: left;
    width: 20%;
}

#registro {
    float: left
}

#login {
    float: right
}

#image {
    float: center;
}

#mapa {
    align-items: center;
    align-content: center;
    text-align: center;
}


/* Estilos para el pie de página presente en todas las páginas */

footer {
    background-color: #009999;
    clear: both;
    color: #FF6699;
    font-weight: bolder;
    font-size: 0.8;
    margin-top: 20px;
    overflow-y: auto;
    padding: 20px;
}

footer address {
    float: left;
    width: 20%;
}

footer div {
    float: left;
    text-align: center;
    width: 60%;
}

footer section {
    float: left;
    text-align: center;
    width: 20%;
    background-color: var(--primary-color);
}

footer img {
    width: 12%;
}

label {
    display: inline-block;
    width: 120px;
}

table {
    margin: 45px;
    width: 480px;
    text-align: center;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background: #d0d0d0;
    border-bottom: 1px solid #fff;
}

td {
    padding: 8px;
    background: #e9e9e9;
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #d0d0d0;
    color: rgb(128, 128, 128);
}

body {
    /*background:#F2F2F2;   Color y fuente*/
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: 'ligthblue';
}

h3 {
    text-align: center;
}

.registro {
    /*Contendeor wrap*/
    width: 90%;
    max-width: 500px;
    margin: auto;
    background: #0000;
}

form {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background: #F2F2F2;
    overflow: hidden;
    box-shadow: 0 0 3px grey;
    border-top: 4px solid #2e6cb4;
}


/*Accedemos a los input que hemos creado*/

form input[type="text"],
form input[type="day"],

/*Estado focus (cuando está seleccionado) */

form input[type="text"]:focus {
    color: "black";
    font-family: 'Montserrat', sans-serif;
    display: block;
}


/*formlogin input[type="day"]:focus,*/


/*Reglas para ancho y alto del formulario*/

label {
    color: #0000;
    font-family: 'Montserrat', sans-serif;
    display: block;
}


/*Estilos para los errores */

.alert {
    padding: 1em;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 14px;
}

.alert.error {
    background: #F2DEDE;
    border: 1px solid #a94442;
    color: #a94442;
}

.alert.success {
    background: #4CAF50;
}


/*Estilo del botón de envío*/

.btn,
form input[type="submit"] {
    padding: 15px;
    background: #7e7c7b;
    color: #000000;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #2e6cb4;
}

.container {
    margin: 0 auto;
    width: 50%;
}

.content {
    padding: 5px;
    margin: 0 auto;
}

.content span {
    width: 250px;
}

.dz-message {
    text-align: center;
    font-size: 28px;
}


/* Establecemos el centrado y las dimensiones de los elementos principales */

.footer {
    max-width: 1200px;
    min-width: 576px;
    margin: 0px auto;
    background-color: var(--primary-color);
}

.wrapper {
    min-height: calc(100% - 4rem);
}

.cookies {
    min-height: calc(100% - 4rem);
    align-items: center;
}


/* Estilos para el pie de página presente en todas las páginas */

footer {
    background-color: #009999;
    clear: both;
    font-weight: bolder;
    font-size: 0.8;
    margin-top: 20px;
    overflow-y: auto;
    padding: 20px;
}

footer address {
    float: left;
    width: 20%;
    background-color: var(--primary-color);
}

footer div {
    float: left;
    text-align: center;
    width: 60%;
    background-color: var(--primary-color);
}

footer section {
    float: left;
    text-align: center;
    width: 20%;
    background-color: var(--primary-color);
}

footer social {
    float: left;
    text-align: center;
    width: 20%;
}

footer img {
    width: 12%;
}