/* BOX-SIZING para calcular directamente todas las dimensiones de las cajas */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* RESETEO LIMITADO DE PROPIEDADES */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    text-align: center;
}


/* Todos son colores seguros, falta añadir a guía de estilos*/

:root {
    --background-color: #CCFFCC;
    --primary-color: #CC99CC;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
}


/* El background color también se podría poner simplemente blanco*/

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-text-color);
    background-color: rgb(238, 236, 236);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: bold;
}

a {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}


/* Establecemos el centrado y las dimensiones de los elementos principales */

nav,
.container,
footer {
    max-width: 1200px;
    min-width: 576px;
    margin: 0px auto;
}

.contacto {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: #0000;
}


/* Estilos para el menú principal */

nav {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 10px;
    position: sticky;
    overflow-y: auto;
    top: 0px;
    z-index: 100;
}

nav div {
    float: right;
    margin-left: 20px;
    padding: 5px;
    background-color: var(--primary-color);
}

.social {
    color: #ffffff;
}

.logo {
    float: left;
    height: 35px;
}


/* Estilos para la cabecera */

header {
    position: relative;
    text-align: center;
}


/* Fondo de la cabecera */

header img {
    width: 100%;
}


/* Formato del elemento principal  */

main {
    margin: 0px auto;
    width: 80%;
    background-color: var(--background-color);
}


/* Línea de separacion en los títulos */

main h2::before {
    background-color: #000000;
    display: block;
    content: " ";
    height: 2px;
    width: 30%;
    margin: 0px auto;
    margin-top: 30px;
}


/* Estilos para el pie de página presente en todas las páginas */

footer {
    background-color: var(--primary-color);
    clear: both;
    color: var(--primary-text-color);
    font-size: 0.8;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 0px;
}

footer address {
    text-align: center;
    float: left;
    width: 20%;
}

footer div {
    float: left;
    text-align: center;
    width: 60%;
}

footer section {
    float: left;
    text-align: center;
    width: 20%;
    background-color: var(--primary-color);
}


/*Estilo de las tablas del buscador*/

label {
    display: inline-block;
    width: 120px;
}

table {
    margin: 45px;
    width: 480px;
    text-align: center;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background: #d0d0d0;
    border-bottom: 1px solid #fff;
}

td {
    padding: 8px;
    background: #e9e9e9;
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #d0d0d0;
    color: rgb(128, 128, 128);
}


/*Contendeor wrap*/

.registro {
    width: 90%;
    max-width: 500px;
    margin: auto;
    background: #0000;
}


/*Estilo de formularios*/

button,
.button {
    height: 50px;
    width: 150px;
    margin-right: 10px;
    border: none;
    background-color: var(--primary-color);
    font-size: 0.7em;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: bold;
}

button:hover {
    background-color: #fff;
    transition: background-color 0.2s ease;
}

form {
    width: 100%;
    background: #f2f2f2;
    overflow: hidden;
    box-shadow: 0 0 3px grey;
    border-top: 4px solid var(--primary-color);
}

form input[type="text"]:focus {
    color: "black";
}

form input[type="submit"]:hover {
    background: var(--primary-color);
}

.container {
    margin: 0 auto;
    background-color: var(--background-color);
}

.content {
    padding: 5px;
    margin: 0 auto;
}

.content span {
    width: 250px;
}


/* Establecemos el centrado y las dimensiones de los elementos principales */

.wrapper {
    min-height: calc(100% - 4rem);
}

.cookies {
    min-height: calc(100% - 4rem);
    align-items: center;
}