@import 'estilos.css';


.item {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    display: inline-block;
    height: 30%;
    width: 25%;
    background-color: var(--primary-color)  ;
    font-size: smaller;

}

.item-title {
    text-align: center;
    background-color: var(--primary-color) ;
    margin: 0;
    padding: 20px;
}

.item-image {
    object-fit: contain;
    height: 300px;
    width: 100%;
    object-position: center;
    border-radius: 20px;
}

.item-details {
display: flex;
justify-content: space-between;
align-items: center;
margin: 20px 0px 15px;
}

.item-details > .item-price {
margin-right: 40px;
margin-left: 40px;
font-size: larger;
}

/* ? SHOPPING CART */
.shopping-cart-items {
padding: 20px 0px;
}

.shopping-cart-header {
border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
max-width: 80px;
border-radius: 20px;
}

.shopping-cart-quantity-input {
max-width: 60px;
border: 1px solid #ccc;
border-radius: 5px;
background: #eee;
padding: 5px;
}

.shopping-cart-total {
min-height: 96px;
}

.row {
    width: 100%;
}
.shopping-cart-header, .shopping-cart-items, .shopping-cart-footer {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 1.5em;
}

#x {
    height: 30px;;
    width: 30px;
}

.total {
    border-top: solid var(--primary-color);
    padding: 10px;
}

.modal{
    max-width: 1200px;
    min-width: 576px;
    margin: 0px auto;
    /*position: absolute;*/
    background-color: var(--background-color);
    
}




