body {
    margin: 0 auto;
    width: 65%;
    background-color: var(--background-color);
    
}

button {
    height: 50px;
    color: #fff;
    size: 20em;
    border: none;
    background-color: #273b47

}


button:hover {
    background-color:#fff;
    transition: background-color 0.2s ease;
    color: black;

}
.item {
    border: 2px solid #000;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 30%;
    background-color: #273b47

}

.item-title {
    text-align: center;
    background-color:#273b47;
    margin: 0;
    padding: 20px;
    color: #fff;
}

.item-image {
    object-fit: contain;
    height: 400px;
    width: 100%;
    object-position: center;
}

.item-details {
display: flex;
justify-content: space-between;
align-items: center;
margin: 20px 0px 15px;
}

.item-details > .item-price {
margin: 0;
color: #fff
}

/* ? SHOPPING CART */
.shopping-cart-items {
padding: 20px 0px;
}

.shopping-cart-header {
border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
max-width: 80px;
border-radius: 20px;
}

.shopping-cart-quantity-input {
max-width: 45px;
border: 1px solid #ccc;
border-radius: 5px;
background: #eee;
padding: 5px;
}

.shopping-cart-total {
min-height: 96px;
}


